<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Meme App -- ADMIN</title>
  <meta name="description" content="BMS Meme Generator in app form.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header-container">
      <a href="" id="logolink">
        <img src="images/logo.png" alt="Memegen Logo">
      </a>
      <div class="main-menu">
        <p>Welcome <span id="cookied-name"></span>!</p>
        <div class="main-menu-container">
          <ul>
            <a href="/home"><li>User Panel</li></a>
            <a href="/choose"><li>Create Meme</li></a>
            <a href="" id="logout"><li>Logout</li></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="row">
        <input type="text" id="username-change" class="form-control">
        <select id="userlevel-choice" class="form-control">
          <option>Block</option>
          <option>One</option>
          <option>Admin</option>
        </select>
        <button id="changeuser">Change User Level</button>
      </div>
      <br /><br /><br /><br /><br /><br />
      <div class="row">
        <select id="list-of-memes" class="form-control">
        </select>
        <button id="delete-meme">Delete Meme</button>
      </div>
    </div>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="javascripts/global.js"></script>
    <script src="javascripts/admin.js"></script>
  </body>
  </html>