<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Meme App</title>
  <meta name="description" content="BMS Meme Generator in app form.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700,900,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,300,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="test" class="header-container">
      <div class="center">
        <a href="" id="logolink"><h1 class="title">Meme<span>GEN</span></h1></a>
        <a href="/login" class="login">Login</a>
        <div class="clear"></div>
      </div>
    </div>
    <div class="content-container">
      <div class="sign-upin">
        <h2>Password Change</h2>
        <form action="" method="POST">
          <input type="password" name="password" id="password" class="form-control" placeholder="new password">
          <input type="password" name="repassword" id="repassword" class="form-control" placeholder="new password again">
          <input type="submit" id="reset-change-pw">
        </form>
        <div class="error-box">
        </div>
      </div>
    </div>
    <div id="error-box">
      <div class="error-tab">
        <p>Feedback</p>
      </div>
      <form>
        <textarea type="text" name="error-message" class="error-message form-control" placeholder="Message"></textarea>
        <input type="submit" id="error-submit">
      </form>
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/core-min.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-utf16-min.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
    <script src="javascripts/signupin.js"></script>
    <script src="javascripts/global-front.js"></script>
    <script type="text/javascript" src="javascripts/error.js"></script>
  </body>
  </html>