<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Meme App</title>
  <meta name="description" content="BMS Meme Generator in app form.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header-container">
      <div class="center">
        <img class="mobile-nav-icon" src="images/mobile-nav-icon.png" alt="" />
        <p class="welcome">Welcome <span id="cookied-name"></span>!</p>
        <a href="" id="logolink"><h1 class="title">Meme<span>GEN</span></h1></a>
        <div class="main-menu">
          <div class="main-menu-container">
            <div class="nav">
              <ul>
                <a href="/home"><img class="list-image" src="images/test.png" alt="" /><li>User Panel</li></a>
                <a href="/choose"><img class="list-image" src="images/list-image-2.png" alt="" /><li>Create Meme</li></a>
                <a href="/manage"><img class="list-image" src="images/list-image-3.png" alt="" /><li>Manage</li></a>
                <a href="/templatecenter"><img class="list-image" src="images/list-image-4.png" alt="" /><li>Template Center</li></a>
                <a href="/learn"><img class="list-image" src="images/list-image-5.png" alt="" /><li>Learning Center</li></a>
                <a href="/support"><img class="list-image" src="images/list-image-6.png" alt="" /><li>Support Center</li></a>
              </ul>
              <img class="close-menu-icon" src="images/list-image-7.png" alt="" />
              <p class="close-menu">Close Menu</p>
              <p class="log-out" id="logout">Log Out</p>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <a href="/create"><button id="one-click-create">One Click Create</button></a>
      </div>
    </div>


    <div class="content-container">
      <div class="center">
        <div class="row">
          <a class="block type-large left" href="/create">
            <div class="home-icon">
              <p>Start from Scratch</p>
            </div>
          </a>
          <a class="block type-large right" href="#" id="choose-preset">
            <div class="home-icon">
              <p>Choose Preset</p>
              <div class="preset-menu">
                <p>Social Presets</p>
                <button id="facebook-preset">Facebook</button>
                <button id="twitter-preset">Twitter</button>
                <p>Saved Templates</p>
                <button id="bms-preset">BMS Preset</button>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div id="error-box">
    <div class="error-tab">
      <p>Feedback</p>
    </div>
    <form>
      <textarea type="text" name="error-message" class="error-message form-control" placeholder="Message"></textarea>
      <input type="submit" id="error-submit">
    </form>
  </div>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="javascripts/global.js"></script>
    <script src="javascripts/presets.js"></script>
  <script type="text/javascript" src="javascripts/error.js"></script>
  </body>
  </html>