<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Meme App</title>
  <meta name="description" content="BMS Meme Generator in app form.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.4.custom.min.css">
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header-container">
      <div class="center">
        <img class="mobile-nav-icon" src="images/mobile-nav-icon.png" alt="" />
        <p class="welcome">Welcome <span id="cookied-name"></span>!</p>
        <a href="" id="logolink"><h1 class="title">Meme<span>GEN</span></h1></a>
        <div class="main-menu">
          <div class="main-menu-container">
            <div class="nav">
              <ul>
                <a href="/home"><img class="list-image" src="images/test.png" alt="" /><li>User Panel</li></a>
                <a href="/profiles"><img class="list-image" src="" alt="" /><li>Edit Profiles</li></a>
                <a href="/create"><img class="list-image" src="images/list-image-2.png" alt="" /><li>Create Meme</li></a>
                <a href="/manage"><img class="list-image" src="images/list-image-3.png" alt="" /><li>Manage</li></a>
                <a href="/templatecenter"><img class="list-image" src="images/list-image-4.png" alt="" /><li>Template Center</li></a>
                <!--<a href="/learn"><img class="list-image" src="images/list-image-5.png" alt="" /><li>Learning Center</li></a>-->
                <a href="/support"><img class="list-image" src="images/list-image-6.png" alt="" /><li>Support Center</li></a>
              </ul>
              <img class="close-menu-icon" src="images/list-image-7.png" alt="" />
              <p class="close-menu">Close Menu</p>
              <p class="log-out" id="logout">Log Out</p>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <a href="/create"><button id="one-click-create">One Click Create</button></a>
      </div>
    </div>
    <div class="content-container">
      <div class="settings-box">
        <div class="active-container">
          <!--
          <div class="updatecanvas">
            <input type="text" id="canvas-width" placeholder="Width" class="form-control">
            <input type="text" id="canvas-height" placeholder="Height" class="form-control">
            <button id="canvas-resize">Resize</button>
            <button id="canvas-clear">Clear</button>
            <button id="lock-objects">Lock</button>
          </div>
          <div class="updatetext">
            <input id="updatetext-color" class="color form-control" type="text" value="ffffff">
            <input id="updatetext-fontsize" class="form-control" type="text" value="40">
            <button class="bringforward">Bring Forward</button>
            <button class="sendbackward">Send Backward</button>
            <button id="updatetext">Update Text</button>
          </div>
          <div class="updateline">
            <input id="updateline-color" class="color form-control" type="text" value="ffffff">
            <input id="updateline-lw" class="form-control" type="text" value="1">
            <button class="bringforward">Bring Forward</button>
            <button class="sendbackward">Send Backward</button>
            <button id="updateline">Update Line</button>
          </div>
          <div class="updatebox">
            <input id="updatebox-color" class="color form-control" type="text" value="ffffff">
            <input id="updatebox-opacity" class="form-control" type="text" value="1">
            <button class="bringforward">Bring Forward</button>
            <button class="sendbackward">Send Backward</button>
            <button id="updatebox">Update Box</button>
          </div>
          <div class="updateicons">
            <button class="bringforward">Bring Forward</button>
            <button class="sendbackward">Send Backward</button>
          </div> -->
        </div>
        <ul>
          <li id="save-meme">
            <div class="click-container">
              <img src="images/Add.png">
              <p>Save</p>
            </div>
            <div class="submenu-container">
              <input id="memename" class="form-control" type="text" placeholder="Meme Name">
              <button id="savememe">Save Meme</button>
            </div>
          </li>
          <li id="downloadmeme-show">
            <div class="click-container">
              <img src="images/Download.png">
              <p>Download</p>
            </div>
            <div class="submenu-container">
              <button id="png" class="downloadmeme">PNG</button>
            </div>
          </li>
          <li id="meme-loader">
            <div class="click-container">
              <p>Load</p>
            </div>
            <div class="submenu-container">
              <select class="form-control" id="memeLoadSelector">
              </select>
              <button id="memeLoad">Load</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="options-container">
        <div class="text-fields">
          Active profile: <br />
          <select id="profile-choice">
          </select>  
        </div>
        <div class="text-fields">
          Overlay Position: <br />
          <select id="overlay-selection">
            <option>Left</option>
            <option>Right</option>
            <option>Top</option>
            <option>Bottom</option>
            <option>Full</option>
          </select>
        </div>
        <div class="text-fields">
          Image Size:
          <div class="text-fields">
            <select id="picture-size" class="input-submit">
              <option>Facebook</option>
              <option>Twitter</option>
              <option>Instagram</option>
            </select>
          </div>
        </div>
        <hr>
        <div class="text-fields">
          Main Text: 
          <div class="input-submit">
            <textarea id="body-text" placeholder="Type text here"></textarea>
            <button id="body-text-btn" class="bodyText">Submit</button>
          </div>
        </div>
        <div class="text-fields">
          Font Color: &nbsp;&nbsp;&nbsp;&nbsp; Size: 
          <div class="input-submit">
            <input class="color" id="body-text-rgb"></input>
            <input id="body-text-font-size"></input>
            <button id="body-text-font-btn" class="bodyText">Submit</button>
            <button class="click-btns" id="body-click">Submit</button>
          </div>
        </div>
        <hr>
        <div class="text-fields">
          Additional Text: 
          <div class="input-submit">
            <textarea id="footer-text" placeholder="Type more text here"></textarea>
            <button id="footer-text-btn" class="footerText">Submit</button>
          </div>
        </div>
        <div class="text-fields">
          Font Color: &nbsp;&nbsp;&nbsp;&nbsp; Size: 
          <div class="input-submit">
            <input class="color" id="footer-text-rgb"></input>
            <input id="footer-text-font-size"></input>
            <button id="footer-text-font-btn" class="footerText">Submit</button>
            <button class="click-btns" id="footer-click">Submit</button>
          </div>
        </div>
        <hr>
        <div class="text-fields">
          Additional Text 2: 
          <div class="input-submit">
            <textarea id="author-text" placeholder="Type even more text here"></textarea>
            <button id="author-text-btn" class="authorText">Submit</button>
          </div>
        </div>
        <div class="text-fields">
          Font Color: &nbsp;&nbsp;&nbsp;&nbsp; Size: 
          <div class="input-submit">
            <input class="color" id="author-text-rgb"></input>
            <input id="author-text-font-size"></input>
            <button id="author-text-font-btn" class="authorText">Submit</button>
            <button class="click-btns" id="author-click">Submit</button>
          </div>
        </div>
        <hr>
        <div class="text-fields">
          Domain <br />Font Color: &nbsp;&nbsp;&nbsp;&nbsp; Size: 
          <div class="input-submit">
            <input class="color" id="domain-text-rgb"></input>
            <input id="domain-text-font-size"></input>
            <button id="domain-text-font-btn" class="domainText">Submit</button>
            <button class="click-btns" id="domain-click">Submit</button>
          </div>
        </div>
        <hr>
        <div class="text-fields">
          Background Image:
          <div class="input-submit">
            <select id="bg-select"></select>
            <button id="bg-select-btn">Select</button>
            <div id="bg-dropzone"> Upload Images</div>
          </div>
        </div> 
        <hr>
        <div class="text-fields">
          Overlay Percent: <br />
          <div class="input-submit"> 
            <input id="overlay-input" placeholder="0-100">
            <button id="overlay-btn">Submit</button>
          </div>
        </div>
        <div class="text-fields">
          Overlay(Color - Opacity): 
          <div class="input-submit">
            <input class="color" id="rgb-value"></input>
            <input id="opacity-value" placeholder="0-1"></input>
            <button id="color-select-btn">Submit</button>
          </div>
        </div>
        <div class="text-fields">
          Background Image: <br /> (opacity - grayscale)
          <div class="input-submit">
            <input id="bg-opacity" placeholder="0-1" value="1"></input>
            <input id="bg-grayscale" type="checkbox"></input>
            <button id="bg-btn">Submit</button>
          </div>
        </div>
        <div class="text-fields">
          Logo: <br /> (opacity - grayscale)
          <div class="input-submit">
            <input id="logo-opacity" placeholder="0-1" value="1"></input>
            <input id="logo-grayscale" type="checkbox"></input>
            <button id="logo-btn">Submit</button>
          </div>
        </div>

      </div>
        <div class="mememaker-left">
          <div id="dropzone">
            <canvas id="c" width="1200" height="1200"></canvas>
            <ul id="objects-on-canvas">
            </ul>
          </div>
          <div class="dropzone-previews" id="previewCon"></div>
        </div>
        <div class="upload-response">
          <p>File Uploaded.</p>
        </div>
      </div>
      <script src="javascripts/fabric.min.js"></script>
      <script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script type="text/javascript" src="javascripts/jquery-ui-1.10.4.custom.min.js"></script>
      <script type="text/javascript" src="javascripts/dropzone.js"></script>
      <script type="text/javascript" src="javascripts/create-actions.js"></script>
      <script src="javascripts/function.js"></script>
      <script src="javascripts/generate-templates.js"></script>
      <script src="javascripts/global.js"></script>
      <script src="javascripts/profiles.js"></script>
      <script type="text/javascript" src="jscolor/jscolor.js"></script>
  <script type="text/javascript" src="javascripts/error.js"></script>
    </body>
    </html>