<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Meme App</title>
  <meta name="description" content="BMS Meme Generator in app form.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.4.custom.min.css">
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header-container">
      <div class="center">
        <img class="mobile-nav-icon" src="images/mobile-nav-icon.png" alt="" />
        <p class="welcome">Welcome <span id="cookied-name"></span>!</p>
        <a href="" id="logolink"><h1 class="title">Meme<span>GEN</span></h1></a>
        <div class="main-menu">
          <div class="main-menu-container">
            <div class="nav">
              <ul>
                <a href="/home"><img class="list-image" src="images/test.png" alt="" /><li>User Panel</li></a>
                <a href="/choose"><img class="list-image" src="images/list-image-2.png" alt="" /><li>Create Meme</li></a>
                <a href="/manage"><img class="list-image" src="images/list-image-3.png" alt="" /><li>Manage</li></a>
                <a href="/templatecenter"><img class="list-image" src="images/list-image-4.png" alt="" /><li>Template Center</li></a>
                <a href="/learn"><img class="list-image" src="images/list-image-5.png" alt="" /><li>Learning Center</li></a>
                <a href="/support"><img class="list-image" src="images/list-image-6.png" alt="" /><li>Support Center</li></a>
              </ul>
              <img class="close-menu-icon" src="images/list-image-7.png" alt="" />
              <p class="close-menu">Close Menu</p>
              <p class="log-out" id="logout">Log Out</p>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <a href="/create"><button id="one-click-create">One Click Create</button></a>
      </div>
    </div>
    <div class="content-container">
      <div class="settings-box">
        <div class="active-container">
          <div class="updatecanvas">
            <input type="text" id="canvas-width" placeholder="Width" class="form-control">
            <input type="text" id="canvas-height" placeholder="Height" class="form-control">
            <button id="canvas-resize">Resize</button>
          </div>
          <div class="updatetext">
            <input id="updatetext-color" class="color form-control" type="text" value="ffffff">
            <input id="updatetext-fontsize" class="form-control" type="text" value="40">
            <button class="bringforward">Bring Forward</button>
            <button class="sendbackward">Send Backward</button>
            <button id="updatetext">Update Text</button>
          </div>
          <div class="updateline">
            <input id="updateline-color" class="color form-control" type="text" value="ffffff">
            <input id="updateline-lw" class="form-control" type="text" value="1">
            <button class="bringforward">Bring Forward</button>
            <button class="sendbackward">Send Backward</button>
            <button id="updateline">Update Line</button>
          </div>
          <div class="updatebox">
            <input id="updatebox-color" class="color form-control" type="text" value="ffffff">
            <input id="updatebox-opacity" class="form-control" type="text" value="1">
            <button class="bringforward">Bring Forward</button>
            <button class="sendbackward">Send Backward</button>
            <button id="updatebox">Update Box</button>
          </div>
          <div class="updateicons">
            <button class="bringforward">Bring Forward</button>
            <button class="sendbackward">Send Backward</button>
          </div>
        </div>
        <ul>
          <li id="save-meme">
            <div class="click-container">
              <img src="images/Add.png">
              <p>Save</p>
            </div>
            <div class="submenu-container">
              <input id="memename" class="form-control" type="text" placeholder="Meme Name">
              <button id="savememe">Save Meme</button>
            </div>
          </li>
          <li id="downloadmeme-show">
            <div class="click-container">
              <img src="images/Download.png">
              <p>Download</p>
            </div>
            <div class="submenu-container">
              <button id="png" class="downloadmeme">PNG</button>
              <button id="jpeg" class="downloadmeme">JPEG</button>
            </div>
          </li>
          <li id="meme-loader">
            <div class="click-container">
              <p>Load</p>
            </div>
            <div class="submenu-container">
              <select class="form-control" id="memeLoadSelector">
              </select>
              <button id="memeLoad">Load</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="options-container">
        <ul>
          <li id="bg-solid">
            <div class="click-container">
              <img src="images/paintbrushtool.png">
              <p>Background</p>
            </div>
            <div class="submenu-container">
            <div class="test background">
              <input value="ffffff" class="color" type="text" id="background-color">
              <button class="buttons" id="bg-solid-update">Choose Color</button>
              <div id="bg-dropzone">
                Click or Drag Image here to upload
              </div>
              <select id="background-choice" class="form-control">
              </select>
              <button id="background-choice-submit">Choose bg</button>
              <button id="clear-bg">Clear BG</button>
            </div>
            </div>
          </li>
          <li class="addtextarea">
            <div class="click-container">
              <img src="images/pagewithtext.png">
              <p>Textbox</p>
            </div>
            <div class="submenu-container font">
            <div class="test">
              <textarea class="form-control" id="addtext-text"></textarea>
              <input id="addtext-color" class="color form-control" type="text" value="ffffff">
              <p>Font size: <span></span>px</p>
              <div id="addtext-fontsize"></div>
              <button class="middle buttons" id="addtext-add">Add Text</button>
            </div>
            </div>
          </li>
          <li class="addshape">
            <div class="click-container">
              <img src="images/shapelayers.png">
              <p>Boxes</p>
            </div>
            <div class="submenu-container"> 
            <div class="test">         
              <input id="addbox-color" class="color form-control" type="text" value="ffffff">
              <p>Opacity: <span></span></p>
              <div id="addshape-opacity"></div>
              <button id="addshape-box">Add Box</button>
            </div>
            </div>
          </li>
          <li class="addline">
            <div class="click-container">
              <img src="images/pentool.png">
              <p>Lines</p>
            </div>
            <div class="submenu-container">
            <div class="test">
              <input id="addshape-lw" class="form-control" type="text" placeholder="Line Width">
              <input id="addshape-color" class="color form-control" type="text" value="ffffff">
              <button id="addshape-line">Add Line</button>
            </div>
            </div>
          </li>
          <li class="addimage">
            <div class="click-container">
              <img src="images/gridview.png">
              <p>Uploaded Images</p>
            </div>
            <div class="submenu-container">
            <div class="test">
              <div id="icon-dropzone">
                Click or Drag Image here to upload
              </div>
              <select id="icon-choice" class="form-control">
              </select>
              <button class="buttons" id="icon-choice-submit">Choose icon</button>
              <p>GrayScale</p>
              <input class="grayscale" type="checkbox" name="grayscale" id="icon-grayscale" value="true">
            </div>
            </div>
          </li>
        </div>
        <div class="mememaker-left">
          <div id="dropzone">
            <canvas id="c" width="630" height="651"></canvas>
          </div>
          <div class="dropzone-previews" id="previewCon"></div>
        </div>
        <div class="upload-response">
          <p>File Uploaded.</p>
        </div>
      </div>
      <div id="error-box">
    <div class="error-tab">
      <p>Feedback</p>
    </div>
    <form>
      <textarea type="text" name="error-message" class="error-message form-control" placeholder="Message"></textarea>
      <input type="submit" id="error-submit">
    </form>
  </div>
      <script src="javascripts/fabric.min.js"></script>
      <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script type="text/javascript" src="javascripts/jquery-ui-1.10.4.custom.min.js"></script>
      <script type="text/javascript" src="javascripts/dropzone.js"></script>
      <script type="text/javascript" src="javascripts/create-actions.js"></script>
      <script src="javascripts/function.js"></script>
      <script src="javascripts/global.js"></script>
      <script type="text/javascript" src="jscolor/jscolor.js"></script>
  <script type="text/javascript" src="javascripts/error.js"></script>
    </body>
    </html>