<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Meme App</title>
  <meta name="description" content="BMS Meme Generator in app form.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700,900,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,300,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header-container">
      <div class="center">
        <img class="mobile-nav-icon" src="images/mobile-nav-icon.png" alt="" />
        <p class="welcome">Welcome <span id="cookied-name"></span>!</p>
        <a href="" id="logolink"><h1 class="title">Meme<span>GEN</span></h1></a>
        <div class="main-menu">
        <div class="main-menu-container">
          <div class="nav">
            <ul>
              <a href="/home"><img class="list-image" src="images/test.png" alt="" /><li>User Panel</li></a>
              <a href="/choose"><img class="list-image" src="images/list-image-2.png" alt="" /><li>Create Meme</li></a>
              <a href="/manage"><img class="list-image" src="images/list-image-3.png" alt="" /><li>Manage</li></a>
              <a href="/templatecenter"><img class="list-image" src="images/list-image-4.png" alt="" /><li>Template Center</li></a>
              <a href="/learn"><img class="list-image" src="images/list-image-5.png" alt="" /><li>Learning Center</li></a>
              <a href="/support"><img class="list-image" src="images/list-image-6.png" alt="" /><li>Support Center</li></a>
            </ul>
            <img class="close-menu-icon" src="images/list-image-7.png" alt="" />
            <p class="close-menu">Close Menu</p>
            <p class="log-out" id="logout">Log Out</p>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <a href="/create"><button id="one-click-create">One Click Create</button></a>
    </div>
  </div>


  <!-- MAIN PAGE SECTION -->
  <div class="content-container">
    <div class="center">
      <div class="row">
        <a class="block type-small" href="/choose">
          <div class="home-icon">
            <p>Create Meme</p>
          </div>
        </a>
        <a class="block type-small" href="/manage">
          <div class="home-icon">
            <p>Manage Memes</p>
          </div>
        </a>
        <!-- <a class="block type-small" href="/templatecenter">
          <div class="home-icon">
            <p>Template Center</p>
          </div>
        </a> -->
        <!--<a href="/choose"><div class="home-icon">Create Meme</div></a>
        <a href="/manage"><div class="home-icon">Manage Memes</div></a>
        <a href="/templatecenter"><div class="home-icon">Template Center</div></a>-->
      </div>
      <!-- <div class="row">
        <a class="block type-large left" href="/learn">
          <div class="home-icon">
            <p>Learning Center</p>
          </div>
        </a>
        <a class="block type-large right" href="/support">
          <div class="home-icon">
            <p>Support Center</p>
          </div>
        </a>
      </div>-->
      <div class="clear"></div>
    </div>
  </div>
  <div id="error-box">
    <div class="error-tab">
      <p>Feedback</p>
    </div>
    <form>
      <textarea type="text" name="error-message" class="error-message form-control" placeholder="Message"></textarea>
      <input type="submit" id="error-submit">
    </form>
  </div>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="javascripts/global.js"></script>
  <script type="text/javascript" src="javascripts/error.js"></script>
</body>
</html>