#addshape-lw::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
/* Firefox 18- */
#addshape-lw:-moz-placeholder {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
/* Firefox 19+ */
#addshape-lw::-moz-placeholder {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
#addshape-lw:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.updatecanvas input[type=text]::-webkit-input-placeholder {
  color: #4c4c4c;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
/* Firefox 18- */
.updatecanvas input[type=text]:-moz-placeholder {
  color: #4c4c4c;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
/* Firefox 19+ */
.updatecanvas input[type=text]::-moz-placeholder {
  color: #4c4c4c;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.updatecanvas input[type=text]:-ms-input-placeholder {
  color: #4c4c4c;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.options-container {
  width:25%;
  position:absolute;
  height:100%;
  background-color: #4c4c4c;
  padding: 0;
  border: none;
  margin-top:50px;
  box-shadow: inset 0px 0px 72px -11px rgb(0, 0, 0);
}
.options-container ul {
  margin: 0 0 0 -40px;
  list-style-type: none;
}
.options-container ul li {
  position: relative;
  margin: 0;
  padding: 22px 0 0 0;
  width: 100%;
  height: 70px;
  box-shadow: inset 0px -2px 1px 0px #383838;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  transition: all .3s linear 0s;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  font-family: raleway;
  cursor: pointer;
}
.options-container ul li img {
  margin-right:10px;
}
.options-container ul li p {
  margin:0;
  display:inline-block;
}
.options-container ul li:hover {
  color: #89bbab;
}
.options-container .submenu-container {
  position: absolute;
  margin-left: 100%;
  top: 0;
  background-color: #4c4c4c;
  z-index:10000;
  height:0;
  width:0;
  overflow:hidden;
  transition: all .3s linear 0s;
  box-shadow: inset 0px 0px 72px -11px rgb(0, 0, 0);
}
.settings-box {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  background-color: #4c4c4c;
  width:100%;
}
.settings-box ul {
  padding:0;
  margin: 0 0 0 -40px;
  list-style-type: none;
  height: 50px;
  position:absolute;
  top:0;
  right:0;
}
.settings-box ul li {
  margin: 0;
  height: 50px;
  float: left;
  box-shadow: inset 2px 0px 1px rgb(56, 56, 56);
  /* border-left: 1px solid rgb(204, 204, 204); */
  padding: 17px 20px 0 20px;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-family: raleway;
  font-size:24px;
  line-height:24px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all .3s linear 0s;
}
.settings-box ul li p {
  margin:0;
  display:inline-block;
}
.settings-box ul li:hover {
  color: #89bbab;
}
.settings-box ul li:first-of-type {
  border: none;
}
.settings-box .submenu-container {
  position: absolute;
  margin-top: 9px;
  margin-left:-20px;
  background-color: #4c4c4c;
  z-index:10000;
  height:0;
  width:0;
  overflow:hidden;
  transition: all .3s linear 0s;
  box-shadow: inset 0px 0px 72px -11px rgb(0, 0, 0);
}
.content-container {
  position: relative;
}
.mememaker-left {
  margin: 50px 0 0 0;
  min-height:550px;
}
.list-icon {
  position: absolute;
  left: 20px;
  top: 14px;
}
.submenu-container.bg {
  min-height:400px;
  width:285px;
  padding:20px;
}
.submenu-container.textb {
  height:285px;
  width:285px;
  padding:20px;
}
.submenu-container.box {
  height:285px;
  width:285px;
  padding:20px;
}
.submenu-container.icons {
  height:315px;
  width:285px;
  padding:20px;
}
.submenu-container.lines {
  height:285px;
  width:285px;
  padding:20px;
}
.submenu-container.memeload {
  height:285px;
  width:285px;
  margin-left:-215px;
  padding:20px;
}
.submenu-container.dl {
  height:285px;
  width:285px;
  margin-left:-49px;
  padding:20px;
}
.submenu-container.save {
  height:285px;
  width:285px;
  padding:20px;
}
#bg-dropzone,#icon-dropzone {
  width:100%;
  float:left;
  background-color:#89bbab;
  border-radius:5px;
  margin:10px 0;
  padding:5%;
  color:#ffe191;
}
#addtext-fontsize,#addshape-opacity {
  float:left;
  width:80%;
  margin:10px 10%;
}
#addtext-fontsize {
  /*margin: 0 auto 10px auto !important;*/
  display: block !important;
}
.upload-response {
  width:250px;
  height:0px;
  position:fixed;
  right:0;
  bottom:0;
  background-color:#89bbab;
}
.active-container input,.active-container button {
  width:10%;
  height:50px;
  padding-left:1px;
  padding-right:1px;
  font-size:10px;
}
.test {
  width: 250px;
}
.full {
  width: 100% !important;
  margin: 0 0 10px 0;
}
.grayscale {
  width: 25px;
  position: absolute;
  top: 280px;
  left: 140px;
}
.middle {
  margin: 0 auto;
  display: block;
  float: none;
}
.test .color {
  width: 100%;
  border: none;
  background-color: rgb(43, 43, 43) !important;
  box-shadow: inset 0px 0px 4px 1px rgb(22, 22, 22) !important;
  color: rgb(255, 255, 255) !important;
  height: 40px;
  padding: 7px 0 0 7px;
  border-radius: 4px;
  font-size: 16px;
  text-transform: uppercase;
}
.test #bg-solid-update {
  margin: 10px 0 0 0;
}
.test textarea {
  padding: 13px 0 0 12px;
  border: none;
  background-color: rgb(43, 43, 43);
  box-shadow: inset 0px 0px 4px 1px rgb(22, 22, 22);
}
.test #addtext-color {
  height: 40px;
  width: 100%;
  margin: 10px auto;
  display: block;
  border: none;
  background-color: rgb(43, 43, 43);
  font-size: 16px;
  box-shadow: inset 0px 0px 4px 1px rgb(22, 22, 22);
  text-transform: uppercase;
}
.test #addtext-add {
  height: auto;
  width: 150px;
  margin: 60px 0 0 40px;
  box-shadow: 2px 2px 1px 2px rgb(37, 52, 47);
  transition: all 0.1s linear 0s;
  background-color: rgb(185, 230, 216);
  border: none;
  border-radius: 5px;
  color: rgb(76, 76, 76);
  padding: 10px;
  box-shadow: 2px 2px 1px 2px rgb(37, 52, 47);
}
.test #addtext-add:active {
  margin: 62px 0 0 42px;
  box-shadow: none;
}
.buttons {
  height: auto;
  /*width: 150px;*/
  margin: 0px 24px 0 0px;
  box-shadow: 2px 2px 1px 2px rgb(37, 52, 47);
  transition: all 0.1s linear 0s;
  background-color: rgb(185, 230, 216);
  border: none;
  border-radius: 5px;
  color: rgb(76, 76, 76);
  padding: 10px;
  box-shadow: 2px 2px 1px 2px rgb(37, 52, 47); 
}
.buttons:active {
  margin: 2px 0 0 2px;
  box-shadow: none;
}
.background button:last-of-type {
  margin: 0 0 0 0;
}
.background #bg-solid-update {
  margin: 20px 2px 0 70px;
  box-shadow: 2px 2px 1px 2px rgb(37, 52, 47);
  transition: all 0.1s linear 0s;
  background-color: rgb(185, 230, 216);
  border: none;
  border-radius: 5px;
  color: rgb(76, 76, 76);
  padding: 10px;
  box-shadow: 2px 2px 1px 2px rgb(37, 52, 47);
}
.background #bg-solid-update:active {
  margin: 20px 0 0 72px;
  box-shadow: none;
}
.background #background-choice-submit {
  display: block;
  float: none;
  margin: 10px 0 0 70px;
  box-shadow: 2px 2px 1px 2px rgb(37, 52, 47);
  transition: all 0.1s linear 0s;
  background-color: rgb(185, 230, 216);
  border: none;
  border-radius: 5px;
  color: rgb(76, 76, 76);
  padding: 10px;
  box-shadow: 2px 2px 1px 2px rgb(37, 52, 47);
}
.background #background-choice-submit:active {
  margin: 14px 0 0 72px;
  box-shadow: none;
}
.background #clear-bg {
  display: block;
  float: none;
  margin: 10px 0 0 70px;
  box-shadow: 2px 2px 1px 2px rgb(37, 52, 47);
  transition: all 0.1s linear 0s;
  background-color: rgb(185, 230, 216);
  border: none;
  border-radius: 5px;
  color: rgb(76, 76, 76);
  padding: 10px;
  box-shadow: 2px 2px 1px 2px rgb(37, 52, 47);
}
.background #clear-bg:active {
  margin: 10px 0 0 72px;
  box-shadow: none;
}
.background button {
  display: inline-block;
}
.add-box {
  margin: 0 0 0 0 !important;
}
.font #addtext-fontsize {
  margin: 0;
}
.lines #addshape-lw {
  margin: 0 0 20px 0;
  width: 100%;
  border: none;
  background-color: rgb(43, 43, 43) !important;
  box-shadow: inset 0px 0px 4px 1px rgb(22, 22, 22) !important;
  color: rgb(255, 255, 255) !important;
  height: 40px;
  padding: 7px 0 0 7px;
  border-radius: 4px;
  font-size: 16px;
  text-transform: uppercase;
}
.lines button {
  margin: 20px 0px 20px 62px !important;
  box-shadow: 2px 2px 1px 2px rgb(37, 52, 47);
  transition: all 0.1s linear 0s;
  background-color: rgb(185, 230, 216);
  border: none;
  border-radius: 5px;
  color: rgb(76, 76, 76);
  padding: 10px;
  box-shadow: 2px 2px 1px 2px rgb(37, 52, 47);
}
.lines button:active {
  margin: 22px 0 0 64px !important;
  box-shadow: none;
}
.box p {
  margin: 20px 0 10px 0 !important;
}
.box button {
  margin: 20px 0 0 60px;
}
.box button:active {
  margin: 22px 0 0 62px;
}
.icons #icon-choice-submit {
  margin: 15px 0 0 70px;
}
.icons #icon-choice-submit:active {
  margin: 17px 0 0 72px;
}
.icons #icon-choice {
  width: 100%;
}
.icons p {
  margin: 0 !important;
  display: block !important;
  position: absolute;
  top: 242px;
  z-index: -9;
  left: 87px;
}
.updatecanvas input[type=text] {
  color: #4c4c4c;
  font-size: 16px;
  text-transform: uppercase;
}
.updatecanvas button {
  font-size: 16px;
  color: #4c4c4c;
}