button {
  width: 80%;
  margin-left: 20px;
}

form {
  font-size: small;
}

#profiles-list {
  width: 70%;
  margin-top: 225px  ;
  margin-left: 15%;
  margin-right: 15%;
}

.add-profile {
  margin-top: 1%;
  margin-bottom: 7.5%;
}

.add-profile button {
  width : 20%;
  margin-top: 2%;
  margin-left: -15%;
}

.add-profile input {
  width: 15%;
}

.add-profile form {
  width: 60%;
  float: left;
  margin-left: 10%;
}

#font-color {
  margin-left: 18px;
}

#font-type {
  margin-left:17px;
}

#logo {
  margin-left:47px;
}

#domain-name {
  margin-left: 34px;
}


#logo-selection {
  display: inline-block;
  float:none;
}

#logo-selection button {
  width: 40%;
}